{
	"TargetName" : "GradGameEditor",
	"Platform" : "Mac",
	"Configuration" : "Development",
	"BuildId" : "",
	"Version" : 
	{
		"MajorVersion" : 4,
		"MinorVersion" : 11,
		"PatchVersion" : 2,
		"Changelist" : 2946394,
		"IsLicenseeVersion" : 0,
		"BranchName" : "++UE4+Release-4.11"
	},
	"BuildProducts" :
	[
		{
			"Path" : "$(ProjectDir)/Binaries/Mac/UE4Editor-GradGame.dylib",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)/Binaries/Mac/UE4Editor-GradGame.dSYM",
			"Type" : "SymbolFile"
		}
	],
	"RuntimeDependencies" :
	[
	]
}